<!DOCTYPE html>
<html lang="zh-cn">

<body onLoad="alert('init')">
  <p>nihao</p>
  <p>lll</p>
  <p>osr</p>
</body>
<script>
  $(function (){
    console.log(document.body.clientWidth);
  });
</script>



</html>