<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/arrow.js"></script>
    <script src="/js/parameter.js"></script>
    <script src="/js/animation.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/left.js"></script>
    <script src="/js/message.js"></script>
    <script src="/js/tcp_ip.js"></script>
    <script src="/js/syn_real_ip.js"></script>
    <script src="/js/syn_virtual_ip.js"></script>
    <script src="/js/smurf_1.js"></script>
    <script src="/js/ddos_real_ip.js"></script>
    <script src="/js/ddos_virtual_ip.js"></script>
    <script src="/layui.js"></script>
   
    <link rel="stylesheet" href="/css/layui.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" /> -->
    <!-- <link rel="stylesheet" href="/css/left.css" /> -->
    <link rel="stylesheet" href="/css/right.css" />

    <title>网络攻击方式课程</title>
    <style type="text/css">
        input {
            float: left;
            margin-top: 2px;
        }
        label {
            margin-left: 5px;
            margin-top: 2px;
        }
        #select_title,
        #options {
            position: absolute;
            background-color: whitesmoke;
            border: solid 1px #c3c3c3;
            font-size: 16px;
            left: 580px;
        }
        #select_title {
            width: 120px;
            height: 30px;
            top: 0px;
        }
        #options {
            width: 120px;
            height: 100px;
            top: 30px;
            font-size: 14px;
            text-align: left;
            display: none;
        }
    </style>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        <!-- 顶栏 -->
        <div class="layui-header" >
            <div class="layui-logo">Dos攻击虚拟仿真实验平台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item" style="color:white"><a href="/signout">注销登陆</a></li>
            </ul>
            <!-- <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                  <a href="javascript:;">防御措施</a>
                  <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                  </dl>
                </li>
              </ul> -->
              
        </div>

        <!-- 左侧 -->
        <div class="layui-side layui-side-menu layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">TCP/IP</a>
                        <dl class="layui-nav-child">
                            <dd><a id="tcp_ip" style="padding-left: 35px;">TCP/IP</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">SYN攻击</a>
                        <dl class="layui-nav-child">
                            <dd><a id="syn_real_ip" style="padding-left: 35px;">使用真实IP攻击</a></dd>
                            <dd><a id="syn_virtual_ip" style="padding-left: 35px;">使用虚拟IP攻击</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">Smurf攻击</a>
                        <dl class="layui-nav-child">
                            <dd><a id="smurf_1" style="padding-left: 35px;">同一网段</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">DDos攻击</a>
                        <dl class="layui-nav-child">
                            <dd><a id="ddos_real_ip" style="padding-left: 35px;">DDos真实IP攻击</a></dd>
                            <dd><a id="ddos_virtual_ip" style="padding-left: 35px;">DDos虚拟IP攻击</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 中部动画区域 -->
        <div class="layui-body" style="bottom:0px;background-color:#f0f2f5">
            <!-- 内容主体区域 -->
            <div style="padding-left:10px;padding-top:8px">
                <div id="center">
                    <div id="level0_div"  style="background-color:white;height:450px">
                        <canvas class="mycanvas" id="level0" width="700" height="450"></canvas>
                        <canvas class="mycanvas" id="level1" width="700" height="450"></canvas>
                        

                        <div id="info"></div>
                        <div id="queue">
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                        </div>
                        <div id="queue2">
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                            <div class="synbean"></div>
                        </div>
                        <div id="select_title">防御措施选择</div>
                        <div id="options">
                            <form>
                                <div>
                                    <label>增加带宽</label>
                                    <input name="radio1" type="radio" id='option1'>
                                </div>
                                <div>
                                    <label>增加内存</label>
                                    <input name="radio1" type="radio" id='option2'>
                                </div>
                                <div>
                                    <label>ip探测(黑名单)</label>
                                    <input name="radio1" type="radio" id='option3'>
                                </div>
                                <div>
                                    <label>随机丢弃</label>
                                    <input name="radio1" type="radio" id='option4'>
                                </div>
                            </form>
                        </div>
                    </div>

                    <button class="btn" id="start" type="button">开始</button>
                    <button class="btn" id="restart" type="button">重播</button>
                </div>

                <!-- 右侧服务器状态栏 -->
                <div id="right-bar">
                    <div id="server-status">
                        <div id="right_title">服务器状态栏</div>
                        <canvas id="right" width="300" height="480"></canvas>
                        <canvas id="right2" width="300" height="480"></canvas>
                        <canvas id="right3" width="300" height="480"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="js/message.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
    <script>
        $('#select_title').click(function () {
            $('input[type=radio][name="radio1"]:checked').prop("checked", false);
            $("#options").slideDown();
            if(smurf_1.live){
                document.getElementById("option3").disabled=true;
            }
            else{
                document.getElementById("option3").disabled=false;
            }
        });
        var old = null; //用来保存原来的对象
        $("form input").each(function () { //循环绑定事件
            if (this.checked) {
                old = this; //如果当前对象选中，保存该对象
            }
            this.onclick = function () {
                if (this == old) { //如果点击的对象原来是选中的，取消选中
                    this.checked = false;
                    old = null;
                } else {
                    old = this;
                }
            }
        });
    </script>
</body>

</html>