#left-bar {
    height: 100%; 
    width: 15%; 
    float: left;
    margin: 10px;
    box-shadow: 2px 2px 2px gainsboro;
    border-radius: 5px;
    background-color: white;
    user-select:none;
}

#menu-course {
    height: 500px;
    background: #222222;
}

.header{
    width: 100%;
    height: 45px;
    background-color: #222222;
    font-size: 24px;
    color: #aaa9a9;
    text-align: center;
    line-height: 45px;
}

.nav{
    width:117%;
    margin: 10px;
}

li {
    list-style-type:none;
    position: relative;
    left: -49px;
}

.list h2{
    position: relative;
    padding: 5px 0;
    background-color: #222222;
    /* text-align: center; */
    text-indent:40px;
    font-size: 16px;
    color: #bbbbbb;
    transition: .5s;
}

.list h2.on{
    background-color: #393c4a;
}

.list i{
    position: absolute;
    right: 10px;
    top: 8px;
    border: 8px solid transparent;
    border-left-color: #bbbbbb;/*triangle*/
    transform:rotate(0deg);
    transform-origin: 1px 8px;
    transition: .5s;
}

.list i.on{
    transform:rotate(90deg);
}

.hide{
    overflow: hidden;
    height: 0;
    transition: .5s;
}

.hide h5{
    padding: 10px 0;
    /*height: 10px;*/
    background-color: #282c3a;
    text-align: center;
    color:#fff;
    border-bottom:#42495d;
}

embed{
    position: relative;
    top:-2px;
    float:left;
    left:20%;
}