body {
    margin: 0;
    padding: 0;
    background: #fafbfc;
}

#center {
    height: 100%; 
    width: 700px; 
    float: left;
    margin: 10px;
    text-align: center;
}

#level0 {
    border: 1px solid gainsboro;
}

#level1 {
    left: 0px;
    top:0px; 
    position:absolute;
}

#level0_div {
    position: relative;
}

.btn {
    border-radius: 15px;
    width: 100px;
    height: 30px;
    font: 1em sans-serif;

    top: 10px;
    background-color: rgb(184, 174, 174);
    border: none;
    outline: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
        text-decoration: none;
        /*display: inline-block;*/
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(119, 115, 115);
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.package{
    position: absolute;
    display: none;
    border: 1px solid black;
    width: 50px;
    height: 32px;
    font-size: 25px;
    text-align: center;
}

.load{
    position: absolute;
    display: none;
    width:65px;
    height:40px;
}

.load2{
    position: absolute;
    display: none;
}

.Vcomputer{
    position: absolute;
    display: none;
}

#info {
    border-radius: 5px;
    position: absolute;
    background-color: aqua;
    display: none;
}