#right-bar {
    height: 100%; 
    width: 300px; 
    float: left;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: -2px 2px 2px gainsboro;
}

#server-status {
    height: 500px;
}

#right_title{
    text-align: center;
    font-size: 20px;
    height: 30px;
    width:300px;
    background-color: #07485e;
    color:white;
    position:relative;
}

#right{
    position: absolute;
    z-index: 0;
}

#right2{
    position: absolute;
    z-index: 1;
}

#right3{
    position: absolute;
    z-index: 2;
}